.head{
    background-image: url(image/image\ 12.png);
   background-position: center;
     background-size: contain;
     height: 122vh;
}
#bot{
  background-color: #0d99ff;
  color: white;
  border-radius: 6px;
  border: none;
  width: 10%;
  padding: 12px;
}
#nav{
  
  font-weight: 700;
}
.h1{
  color: white;
  font-weight: 700;
}
#but{
  background-color: #0d99ff;
  color: white;
  border-radius: 6px;
  border: none;
  width: 14%;
  padding: 12px;
}
.move{
  margin-left: 50px;
  margin-top: 150px;
}
